*{
  margin:0;
  padding:0;
  font-family:sans-serif;

}
.navbar{
  overflow: hidden;
  background-color: white;
  padding: 10px;
  align-items:center;
  display:grid;
  height:12%;
  margin-right:600px;
  
  
}
.navbar a {
  float:left;
  color:black;
  text-align: center;
  padding:12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  flex:0;
}
.logo{
  width: 50px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color:black
  
}
.navbar a:hover{
  background-color: dodgerblue;
  color:white;
}
button{
  width:180px;
  color:black;
  font-size: 20px;
  padding:12px 0;
  border:0;
  background: wheat
  border-radius: 20px;
  outline: none;
  margin: top 0;
  cursor: pointer;

}